.DS_Store
Thumbs.db
.tools/

backend/malaf
backend/malaf.exe
backend/.e2e/

frontend/.svelte-kit/
frontend/build/
frontend/node_modules/
frontend/playwright-report/
frontend/test-results/
frontend/coverage/
